// simpler theme, less flashiness and easier to view imo
/*.cooldiv {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  white-space: pre-wrap;      /* CSS3    
  white-space: -moz-pre-wrap; /* Firefox  
  white-space: -pre-wrap;     /* Opera <7 * 
  white-space: -o-pre-wrap;   /* Opera 7 *  
  word-wrap: break-word;      /* IE 
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
}

a:link, a:visited {
    color: blue;
}
a:hover {
    color: blue;
} */

.header {
  position: sticky;
  top: 0;
  padding: 10px 16px;
}

.button-51 {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  font-size: .8125rem;
  font-weight: 450;
  letter-spacing: normal;
  -webkit-tap-highlight-color: transparent;
  align-items: center;
  background: #fff;
  border-radius: .5rem;
  border: 0;
  box-shadow: inset 0 -0.0625rem 0 #b5b5b5, inset -0.0625rem 0 0 #e3e3e3, inset 0.0625rem 0 0 #e3e3e3, inset 0 0.0625rem 0 #e3e3e3;
  color: #303030;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  margin: 0;
  min-height: 1.75rem;
  min-width: 1.75rem;
  padding: .375rem .75rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .075s cubic-bezier(.19, .91, .38, 1), box-shadow .075s cubic-bezier(.19, .91, .38, 1);
  transition-behavior: normal, normal;
  user-select: none;
}

@media (-ms-high-contrast:active) {
  .button-51 {
    border-image: none 100% 1 0 stretch;
    border-style: none;
  }
}

.button-51__Content {
  align-items: center;
  display: flex;
  font-size: .8125rem;
  justify-content: center;
  letter-spacing: normal;
  line-height: 1.25rem;
  min-height: .0625rem;
  min-width: .0625rem;
  position: relative;
  transition: transform 75ms cubic-bezier(.19, .91, .38, 1);
  transition-behavior: normal;
}

@media (min-width: 48em) {
  .button-51__Content {
    font-size: .75rem;
    line-height: 1rem;
  }
}

.button-51::after {
  border-radius: .25rem;
  bottom: -.0625rem;
  box-shadow: 0 0 0 -.0625rem #005bd3;
  content: "";
  display: block;
  left: -.0625rem;
  pointer-events: none;
  position: absolute;
  right: -.0625rem;
  top: -.0625rem;
  z-index: 1;
}

.button-51:focus-visible {
  outline: 2px solid rgb(0, 91, 211);
  outline-offset: .0625rem;
}

.button-51:hover {
  background: #f7f7f7;
  box-shadow: inset 0 -0.0625rem 0 #ccc,inset 0.0625rem 0 0 #ebebeb,inset -0.0625rem 0 0 #ebebeb,inset 0 0.0625rem 0 #ebebeb;
}

.button-51:focus,
.button-51:focus-visible {
  box-shadow: inset 0 -0.0625rem 0 #b5b5b5,inset -0.0625rem 0 0 #e3e3e3,inset 0.0625rem 0 0 #e3e3e3,inset 0 0.0625rem 0 #e3e3e3;
}

.button-51:active {
  background: #f7f7f7;
  box-shadow: 0rem 0.125rem 0.0625rem 0rem rgba(26,26,26,.2) inset,0.0625rem 0rem 0.0625rem 0rem rgba(26,26,26,.12) inset,-0.0625rem 0rem 0.0625rem 0rem rgba(26,26,26,.12) inset;
}

.button-51:focus-visible::after {
  content: none;
}

.button-51:active::after {
  border-style: none;
  box-shadow: none;
}

.button-51:active .button-51__Content {
  transform: translateY(.0625rem);
}

.button-51 .button-51__Content {
  width: 100%;
}

.button-51.button-51 .button-51__Content {
  font-weight: 650;
}


.cooldiv {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  white-space: normal;       /* Normal behavior for whitespace */
  word-wrap: break-word;     /* Use word-wrap for long words */
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
}

a:link, a:visited {
    color: blue;
}
a:hover {
    color: blue;
}
