<!-- 
hello there mr inspect element
-->
<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="https://getbootstrap.com/2.3.2/assets/css/bootstrap.css">
    <link rel="stylesheet" href="https://getbootstrap.com/2.3.2/assets/css/docs.css">
    <link rel="stylesheet" href="https://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://getbootstrap.com/2.3.2/assets/js/bootstrap.js"></script>

<style>
  body {
      padding-top: 60px;
      position: relative;
      z-index: 0;
      background: none;
  }

  body::before {
      content: "";
      position: fixed; /* Fixed to the viewport */
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('https://wallpapercave.com/wp/wp2916606.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      filter: blur(20px) brightness(120%);
      z-index: -1;
  }
</style>


</head>

<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="./">CalvinK19</a>
            <ul class="nav pull-left">
                <a class="btn btn-success" href="./"><i class="icon-bookmark icon-white"></i> Index</a>
                <a class="btn btn-warning" href="./projects"><i class="icon-briefcase icon-white"></i> Projects</a>
                <a class="btn btn-info" href="./sitemap"><i class="icon-globe icon-white"></i> Sitemap</a>
                <a class="btn btn-primary" href="./contact"><i class="icon-envelope icon-white"></i> Contact</a>
            </ul>
        </div>
    </div>
</div>

<body>


    <div class="container">

    <div class="alert alert-info">
    I'm redesigning my website using <u><a href="https://getbootstrap.com/2.3.2/">Bootstrap</a></u>. However, since <b>bag.xml</b>'s site also uses Bootstrap, both sites look quite similar. This should be fixed as I customize it further.
    </div>

    {{ content }}
      
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://getbootstrap.com/2.3.2/assets/js/jquery.js"></script>
    <script src="https://getbootstrap.com/2.3.2/assets/js/bootstrap-transition.js"></script>
    <script src="https://getbootstrap.com/2.3.2/assets/js/bootstrap-alert.js"></script>
    <script src="https://getbootstrap.com/2.3.2/assets/js/bootstrap-modal.js"></script>
    <script src="https://getbootstrap.com/2.3.2/assets/js/bootstrap-dropdown.js"></script>
    <script src="https://getbootstrap.com/2.3.2/assets/js/bootstrap-scrollspy.js"></script>
    <script src="https://getbootstrap.com/2.3.2/assets/js/bootstrap-tab.js"></script>
    <script src="https://getbootstrap.com/2.3.2/assets/js/bootstrap-tooltip.js"></script>
    <script src="https://getbootstrap.com/2.3.2/assets/js/bootstrap-popover.js"></script>
    <script src="https://getbootstrap.com/2.3.2/assets/js/bootstrap-button.js"></script>
    <script src="https://getbootstrap.com/2.3.2/assets/js/bootstrap-collapse.js"></script>
    <script src="https://getbootstrap.com/2.3.2/assets/js/bootstrap-carousel.js"></script>
    <script src="https://getbootstrap.com/2.3.2/assets/js/bootstrap-typeahead.js"></script>

</body>

</html>
