
<!DOCTYPE html>
<html>
<head>

    <!-- This is not a good idea, but I don't care. -->
    <link rel="stylesheet" href="https://getbootstrap.com/2.3.2/assets/css/bootstrap.css">
    <link rel="stylesheet" href="https://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://getbootstrap.com/2.3.2/assets/js/bootstrap.js"></script>

    <style>
        body {
            padding-top: 60px;
        }
    </style>


</head>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand">CalvinK19</a>
            <ul class="nav pull-right">
                <a class="btn btn-success" href="#"><i class="icon-bookmark icon-white"></i> Index</a>
                <a class="btn btn-warning" href="#"><i class="icon-briefcase icon-white"></i> Projects</a>
                <a class="btn btn-info" href="#"><i class="icon-globe icon-white"></i> Sitemap</a>
                <a class="btn btn-primary" href="#"><i class="icon-envelope icon-white"></i> Contact</a>
            </ul>
        </div>
    </div>
</div>

<body>


    <div class="container">

    {{ content }}
      
        <hr>

        <footer>
            <p>registering trademarks in the US is far too complicated (and unneccesary), but please credit me if you
                use any of my work</p>
        </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://getbootstrap.com/2.3.2/assets/js/jquery.js"></script>
    <script src="https://getbootstrap.com/2.3.2/assets/js/bootstrap-transition.js"></script>
    <script src="https://getbootstrap.com/2.3.2/assets/js/bootstrap-alert.js"></script>
    <script src="https://getbootstrap.com/2.3.2/assets/js/bootstrap-modal.js"></script>
    <script src="https://getbootstrap.com/2.3.2/assets/js/bootstrap-dropdown.js"></script>
    <script src="https://getbootstrap.com/2.3.2/assets/js/bootstrap-scrollspy.js"></script>
    <script src="https://getbootstrap.com/2.3.2/assets/js/bootstrap-tab.js"></script>
    <script src="https://getbootstrap.com/2.3.2/assets/js/bootstrap-tooltip.js"></script>
    <script src="https://getbootstrap.com/2.3.2/assets/js/bootstrap-popover.js"></script>
    <script src="https://getbootstrap.com/2.3.2/assets/js/bootstrap-button.js"></script>
    <script src="https://getbootstrap.com/2.3.2/assets/js/bootstrap-collapse.js"></script>
    <script src="https://getbootstrap.com/2.3.2/assets/js/bootstrap-carousel.js"></script>
    <script src="https://getbootstrap.com/2.3.2/assets/js/bootstrap-typeahead.js"></script>

</body>

</html>
