
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body>
<div class="cooldiv"><br>
<!---<h2 style="text-align:left;float:left;">{{ site.title | default: site.github.repository_name }}</h2>--->
<h2 style="text-align:left;float:left;">CalvinK19</h2>
<hr style="clear:both;"/>
<p>{{ content }}</p>
<hr><br>

<div id="google_translate_element"></div>
<script> 
function googleTranslateElementInit() {
  new google.translate.TranslateElement({
    pageLanguage: 'en'
  }, 'google_translate_element');
}
</script>
<script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> 
  
<br></body></html>
